
.Navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 100px;
}
.nav-logo {
    padding-top: 50px;
    margin-top: 20px;
    
}
.Navbar > .nav-items >a{
   color: black;
   font-size: 23px;
   margin: 50px;
   text-decoration: none;
   position: relative;
   cursor: pointer;
   
   
}
.Navbar > .nav-items >a:hover{
    color: rgb(46, 45, 44);
    font-size: 23px;
    transition: all .20s;
    
}